YOUTUBE CHANNEL TO LEARN DEVOPS

1. DevOps Pre-requisite
https://lnkd.in/dzQfwBVt
2. Networking
https://lnkd.in/dDVFjD2w
3. Linux
https://lnkd.in/d8vq4G_h
https://lnkd.in/dKcUpngF
https://lnkd.in/dKQrfdpp
4. Shell scripting
https://lnkd.in/dgU3tamm
https://lnkd.in/dEedFqvd
https://lnkd.in/dXpPemR2
5. Git & GitHub
https://lnkd.in/dzVSmkdS
https://lnkd.in/dt4UwfZH
https://lnkd.in/dMXkBhAS
https://lnkd.in/dSHsJE2F
6. Databases
https://lnkd.in/db2ud3mD
https://lnkd.in/dHMzq7Kv
7. Artifact Repository Manager
https://lnkd.in/dQWRPkEy
8. Docker
https://lnkd.in/dbt4U4wp
https://lnkd.in/dzmde8vb
9. Jenkins
https://lnkd.in/dghY8kpr
https://lnkd.in/dP7Z4nVx
10. AWS
https://lnkd.in/dYagNwyh
https://lnkd.in/dp2U4EpJ
https://lnkd.in/dRWtndwb
11. SSH
Mobaxterm :
https://lnkd.in/ddefx4K3
Putty :
https://lnkd.in/dpEGMFZf
12. Yaml
https://lnkd.in/dbjP3rDb
https://lnkd.in/dbjP3rDb
13. Kubernetes
https://lnkd.in/dirnHa24
https://lnkd.in/deE5m7vN
14. Helm
https://lnkd.in/dxfVCxVD
15. Terraform
https://lnkd.in/dyebeN5U
https://lnkd.in/dwwvhNbg
https://lnkd.in/djcKxJ9r
16. Python
https://lnkd.in/dWeysRz9
https://lnkd.in/dkVzEcmS
https://lnkd.in/dsHP8HYt
https://lnkd.in/d-5_dyyg
17. Ansible
https://lnkd.in/dQDvv2xc
https://lnkd.in/d6jGkyT3
https://lnkd.in/dgYZW8yf
18. Prometheus
https://lnkd.in/dB956VXS
https://lnkd.in/diJQ58Nc
19. Grafana
https://lnkd.in/dVuHEknd
https://lnkd.in/dSXh3FmD